body {
padding: 0;
margin: 0;
}
html, body, #map {
height: 100%;
width: 100vw;
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 20%;   /* adjust this value as per your needs */
    background: rgba(0,0,0,0.7); /* semi-transparent black, change as needed */
    z-index: 2;   /* this will keep the overlay on top of the map */
}